/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: rgba(255, 0, 112, 1);
  --text-title-color: rgba(219, 0, 255, 1);
  --text-pg-color: rgba(0, 0, 40, 1);
  --text-menu-color: rgba(241, 178, 206, 1);
  --color-main: rgba(0, 0, 40, 1);
  --section-title-text: rgba(255, 0, 112, 1);
  --font-family: 'IBM Plex Mono';
  --font-size: 18px;
}